extends ../layout

block content
    .container
        .row
            .col-sm-10.col-sm-offset-1
                form.form-horizontal(method="post",action="/admin/movie")
                    if movie._id
                        input(type="hidden",name="movie[_id]",value="#{movie._id}")
                    .form-group
                        label.col-sm-2.control-label 豆瓣导入
                        .col-sm-6
                            input#inputDouban.form-control(type="text",placeholder="输入豆瓣电影ID")
                    .form-group
                        label.col-sm-2.control-label 选择分类
                        .col-sm-6
                            each cat in categories
                                .col-sm-3
                                    label
                                        if movie.category
                                            input(type="radio", name="movie[category]", value=cat._id, checked=cat._id.toString()==movie.category.toString())
                                        else
                                            input(type="radio", name="movie[category]", value=cat._id)
                                      | #{cat.name}
                    .form-group
                        label.col-sm-2.control-label(for="inputTitle") 电影名字
                        .col-sm-6
                            input#inputTitle.form-control(type="text",name="movie[title]",value=movie.title)
                    .form-group
                        label.col-sm-2.control-label(for="inputDirector") 导演
                        .col-sm-6
                            input#inputDirector.form-control(type="text",name="movie[director]",value=movie.director)
                    .form-group
                        label.col-sm-2.control-label(for="inputCountry") 国家
                        .col-sm-6
                            input#inputCountry.form-control(type="text",name="movie[country]",value=movie.country)
                    .form-group
                        label.col-sm-2.control-label(for="inputLanguage") 语种
                        .col-sm-6
                            input#inputLanguage.form-control(type="text",name="movie[language]",value=movie.language)
                    .form-group
                        label.col-sm-2.control-label(for="inputYear") 上映年份
                        .col-sm-6
                            input#inputYear.form-control(type="text",name="movie[year]",value=movie.year)
                    .form-group
                        label.col-sm-2.control-label(for="inputPoster") 海报地址
                        .col-sm-6
                            input#inputPoster.form-control(type="text",name="movie[poster]",value=movie.poster)
                    .form-group
                        label.col-sm-2.control-label(for="inputFlash") 片源地址
                        .col-sm-6
                            input#inputFlash.form-control(type="text",name="movie[flash]",value=movie.poster)
                    .form-group
                        label.col-sm-2.control-label(for="inputSummary") 电影简介
                        .col-sm-6
                            textarea#inputSummary.form-control(name="movie[summary]",rows="8",value=movie.summary)
                    
                    .form-group
                        .col-sm-offset-6.col-sm-2
                            button.btn.btn-default.btn-block.btn-success(type="submit") 录入                                                        
    script(src="/js/admin.js")

